[Unit]
Description=Beeflow coletor

[Service]
ExecStart=/usr/local/bin/nfcapd -S2 -p 2055 -w /opt/bee/beeflow/flows/ -t60 -z lzo -s 1024
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target